<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebBrowser.Data.Properties.Settings.History_BookmarksDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\cmp0106\source\repos\WebBrowser\WebBrowser.Data\bin\Debug\History_BookmarksDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WebBrowser.Data.Properties.Settings.History_BookmarksDBConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\History_BookmarksDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>